/* Estilo para el header */
header {
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 20px 0; /* Espaciado interior del header */
}

/* Estilo para el footer */
footer {
  color: white;
  text-align: center; /* Centra el texto horizontalmente en el footer */
  padding: 10px; /* Espaciado interior del footer */
}


.bitacora {
  width: 1728px;
  height: 750px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#bitacoraForm {
  text-align: center; /* Centra el texto horizontalmente en el footer */
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  margin: 0 auto; /* Centra horizontalmente */
}


.form-row-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.form-row {
  flex: 0 0 calc(50% - 10px); /* Ancho del 50% con espacio entre grupos */
  box-sizing: border-box;
}

.form-row label {
  width: 100%;
}

.form-row input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}



.button-container {
  flex: 0 0 49%;
  margin-top: 19px; /* Espaciado opcional entre los elementos */
}

.button-container button {
  width: 100%;
  background-color: #FBCF4C;
  color: #000000;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}


#bitacoraTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid #000; /* Agrega un borde a la tabla */
}

#bitacoraTable th,
#bitacoraTable td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000; /* Agrega un borde a las celdas */
}

#bitacoraTable th {
  color: #000;
}

#bitacoraTable tr:nth-child(even) {
  background-color: #fff;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
  background-color: #000;
}

