.button {
  position: absolute;
  top: 80px;
  left: 250px;
  width: 68px;
  height: 18px;
  border-radius: 10%;
  background-color: #FBCF4C;
  color: #000000;
  border: none;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
}

/* Estilo para el header */
header {
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 20px 0; /* Espaciado interior del header */
}

/* Estilo para la imagen del header */
.header-image {
  max-width: 100%; /* Asegura que la imagen se ajuste al ancho del header */
  height: auto; /* Permite que la altura de la imagen se ajuste proporcionalmente al ancho */
}

/* Estilo para el footer */
footer {
  text-align: center; /* Centra el texto horizontalmente en el footer */
  padding: 10px; /* Espaciado interior del footer */
}

/* Estilo para el texto del footer */
footer p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  font-size: 14px; /* Tamaño de fuente (ajusta según tus preferencias) */
  color: #ffffff; /* Color del texto (blanco) */
  font: Arial ;
}

/* Estilo para el contenedor de la bitácora */
.bitacora {
  width: 1728px;
  height: 750px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;

  overflow-y: auto; /* Habilita el scroll vertical si es necesario */
}

/* Estilo para los registros */
.registro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* Estilo para los botones de ver y eliminar */
.acciones button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.ver {
  background-color: #e4dccf;
}
.eliminar {
  background-color: #ea5455;
}

.button-editar,
.button-eliminar {
  text-decoration: none;
}

.button {
  position: absolute;
  top: 80px;
  left: 250px;
  width: 68px;
  height: 18px;
  border-radius: 10%;
  background-color: #FBCF4C;
  color: #000000;
  border: none;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
}

/* Estilo para el header */
header {
  text-align: center;
  padding: 20px 0;
}

/* Estilo para la imagen del header */
.header-image {
  display: block;
  margin: 0 auto;
}

/* Estilo para el contenido del sitio */
.site-content {
  text-align: center;
  padding: 20px;
}

/* Estilo para el pie de página */
footer {
  color: white;
  text-align: center;
  padding: 10px;
}

/* Estilo para el contenedor que contiene la bitácora y el cuadro blanco */
.bitacora-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Estilo para la bitácora */
.bitacora {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* Estilo para la bitácora */
.editar-registro {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* Estilo para el formulario de la bitácora */
#bitacoraForm {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo para los elementos del formulario de la bitácora */
.form-row-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.form-row {
  flex: 0 0 calc(50% - 10px);
  box-sizing: border-box;
}

.form-row label {
  width: 100%;
}

.form-row input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-container {
  flex: 0 0 49%;
  margin-top: 19px;
}

.button-container button {
  width: 100%;
  background-color: #FBCF4C;
  color: #000000;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}

/* Estilo para la tabla de la bitácora */
#bitacoraTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#bitacoraTable th,
#bitacoraTable td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
}

#bitacoraTable th {
  color: #fff; /* Color del texto del encabezado */
  background-color: #002069; /* Color de fondo del encabezado de la tabla */
}

#bitacoraTable tr:nth-child(even) {
  background-color: #fff;
}
#bitacoraTable td:hover {
  background-color: #ccc; /* Cambia el color de fondo de las celdas cuando se pasa el cursor sobre ellas */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Oculta la barra de desplazamiento del cuerpo */
}

/* Estilo para el pie de página fijo */
footer {
  background-color: #002069;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* Estilo para hacer que el contenedor sea scrollable */
.scrollable-table-container {
  max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
  border: 0px solid #ccc; /* Borde de 1 píxel sólido con color gris claro en todos los lados */
  border-left: none; /* Elimina el borde izquierdo */
  border-right: none; /* Elimina el borde derecho */
  border-top: none; /* Agrega esta línea para ocultar el borde superior */
  margin-bottom: 10px; /* Agrega un margen en la parte inferior del contenedor */
}
/* Estilo para la barra de desplazamiento en navegadores WebKit (Chrome y Safari) */
.scrollable-table-container::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.scrollable-table-container::-webkit-scrollbar-thumb {
  background-color: #FBCF4C; /* Cambia el color del pulgar de la barra de desplazamiento a amarillo */
  border-radius: 6px; /* Radio de borde del pulgar */
}

.scrollable-table-container::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Cambia el color del pulgar cuando se coloca el cursor sobre él */
}

.scrollable-table-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cambia el color de fondo de la pista de la barra de desplazamiento */
  border-radius: 6px; /* Radio de borde de la pista */
}
