/* Estilo para el body y el header */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, rgb(0, 29, 109) 50%, rgb(0, 29, 109) 50%);
  font-family: "Arial Narrow";
}

/* Estilo para el cuadro de inicio de sesión */
.login-box {
  background: #FFFFFF;
  width: 360px;
  padding: 80px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  height: 210px;
  position: relative;
}

.login-box input {
  width: 100%;
  border: 1px solid #000000;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 15px;
  margin-bottom: 30px; /* Espacio entre los campos de entrada */
}

.button {
  position: absolute;
  width: 325px;
  padding: 20px;
  color: #000000;
  font-size: 16px;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  background: #FBCF4C;
  bottom: 118px;
  left: 0;
  right: 0;
  margin: auto;
}

.button:hover {
  background: #2957d6;
}

.contenido-del-sitio {
  text-align: center;
  color: #FFFFFF;
  font-size: var(--font-size-mini);
  margin-top: 50px;
}
/* Estilo para el header */
header {
  text-align: center;
  padding: 10px 0;
}

/* Estilo para la imagen del header */
.header-image {
  display: block;
  margin: 20px;
  width: 650px; /* Cambia el ancho deseado */
  height: auto; /* La altura se ajustará automáticamente según el ancho */
}
/* Estilo para los botones */
.button1 {
  position: absolute;
  width: 325px;
  padding: 20px;
  color: #000000;
  font-size: 16px;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  background-color: #FBCF4C;
  bottom: 268px; /* Ajusta la posición vertical del segundo botón */
  left: 0;
  right: 0;
  margin: auto;
}

.button1:hover {
  background-color: #2957d6;
}
/* Estilo para los botones */
.button2 {
  position: absolute;
  width: 325px;
  padding: 20px;
  color: #000000;
  font-size: 16px;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  background: #FBCF4C;
  bottom: 193px; /* Ajusta la posición vertical del segundo botón */
  left: 0;
  right: 0;
  margin: auto;
}

.button2:hover {
  background-color: #2957d6;
}
/* Estilo para el botón de Cerrar Sesión */
.cerrar-sesion-button {
  position: absolute;
  width: 325px;
  padding: 20px;
  color: #000000;
  font-size: 16px;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  background: #FBCF4C;
  bottom: 41px; /* Ajusta la posición vertical del segundo botón */
  left: 0;
  right: 0;
  margin: auto;
}