@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body {
  background: linear-gradient(90deg, rgb(0, 29, 109) 50%, rgb(0, 29, 109) 50%);
  font-family: "Arial Narrow";    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Cambio a min-height para asegurarse de que el contenido se ajuste */
  margin: -50px 0 0; /* Ajusta el valor de margin-top según tu preferencia */
  padding: 0; /* Eliminamos el margen negativo */
  overflow-y: auto; /* Evita desplazamiento horizontal */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  margin: -100px auto 10px ; /* Centramos horizontalmente */
}

.form input {
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 1px solid #000000;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 15px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #FBCF4C;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #000000;
  font-size: 14px;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #2957d6;
}

.form .message {
  margin: 15px 0 0;
  color: #FFFFFF;
  font-size: 12px;
}

.form .message a {
  color: #3324be;
  text-decoration: none;
}

.contenido-del-sitio {
  text-align: center;
  color: #FFFFFF;
}

.contenido-del-sitio-2023-dere {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: flex-end;
  font-size: 14px; /* Reemplaza con un valor concreto */
  color: #FFFFFF; /* Reemplaza con un valor concreto */
  margin-top: 50px;
}
