.frame-icon1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 75px;
  flex-shrink: 0;
}
.generar-bitcora {
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.generar-bitcora-wrapper,
.historial-de-bitcoras-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-4xs) var(--padding-sm);
  background-color: var(--color-goldenrod);
  align-self: stretch;
  border-radius: 18.75px;
  box-sizing: border-box;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.historial-de-bitcoras-wrapper {
  padding: 32px var(--padding-31xl);
}
.frame-group,
.frame2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-group {
  width: 100%;
  border-radius: 18.75px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  padding: 62px 111px;
  gap: 77px;
  max-width: 664px;
}
.frame2 {
  align-self: stretch;
  gap: var(--gap-146xl);
}
.contenido-del-sitio1 {
  align-self: stretch;
  position: relative;
}
.contenido-del-sitio-2023-dere1,
.menu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenido-del-sitio-2023-dere1 {
  align-self: stretch;
  display: flex;
}
.menu {
  position: relative;
  background-color: var(--color-midnightblue);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  display: none;
  padding: var(--padding-31xl) var(--padding-609xl) var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-146xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
}
